/src/build
src/dist/chmviewer.exe
src/dist/chmviewer.zip
src/chmviewer_remote_assets_YVWUvY/1cab28e54a8fcaf3347c065d292a748dfdfa008b6f23386453cbdd6e72a538b3.svg
src/__pycache__/chmviewer.cpython-314.pyc
src/chmviewer_remote_assets_mneNxU/1cab28e54a8fcaf3347c065d292a748dfdfa008b6f23386453cbdd6e72a538b3.svg
src/help.chm
src/README_PASCAL_SVG_BRIDGE.txt
